<div class="flex-column justify-center align-center" [formGroup]="recipeForm">
    <div class="flex-column width-80 justify-center align-center margin"> 
        <mat-form-field appearance="outline" class="width-50">
            <mat-label>Nom de la recette</mat-label>
            <input matInput
                    formControlName="name">
        </mat-form-field>

        <div class="flex-row justify-around width-100">
            
           
            <mat-form-field appearance="outline" class="width-20">
                <mat-label>Difficulté</mat-label>
                <mat-select formControlName="difficulty" name="difficulty">
                    <mat-option *ngFor="let difficulty of difficultiesValue; index as i" [value]="difficultiesKey[i]">
                    {{ difficulty }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="width-20">
                <mat-label>Nombre de personnes</mat-label>
                <input matInput
                        formControlName="serves">
            </mat-form-field>
        </div>

        <div class="flex-row justify-around width-100">
            
            <mat-form-field appearance="outline" class="width-25">
                <mat-label>Préparation</mat-label>
                <input matInput
                        formControlName="preparation">
            </mat-form-field>
            <mat-form-field appearance="outline" class="width-25">
                <mat-label>Cuisson</mat-label>
                <input matInput
                        formControlName="cooking">
            </mat-form-field>
            <mat-form-field appearance="outline" class="width-25">
                <mat-label>Repos</mat-label>
                <input matInput
                        formControlName="rest">
            </mat-form-field>
        </div>

        <div formArrayName="tags">
            <label *ngFor="let tag of availableTags; let i = index">
                <input type="checkbox" [formControlName]="i"> {{ tag }}
            </label>
        </div>

    </div>

    
    <input type="file" (change)="onMultipleImageSelected($event)" accept="image/*"  multiple>
    <div class="flex-row width-80 wrap">
        <div *ngFor="let image of encodeImage; let i = index" class="width-20 image-container">

            <img [src]='image' alt="Image" class="width-100 rounded-image">
            <button class="close-button" (click)="deleteImage(i)">&times;</button>
              

      </div>
    </div>
      
    


      
      

    <div class="flex-column width-80 justify-center margin" >
        <div class="flex-column width-100 align-center" formArrayName="ingredients">
            <h3>Liste des ingrédients</h3>
            <div *ngFor="let ingredient of formArrayIngredients().controls; let i = index" [formGroupName]="i" class="flex-row justify-around width-100 align-center">
                <mat-form-field appearance="outline" class="width-20">
                    <mat-label>Quantité</mat-label>
                    <input matInput type="number"
                    formControlName="quantity">
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-20">
                    <mat-label>Unité</mat-label>
                    <mat-select formControlName="unit" name="unit">
                        <mat-option *ngFor="let unit of unitsValue; index as j" [value]="unitsKey[j]">
                        {{ unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex-row justify-center width-40">
                    <mat-form-field appearance="outline" class="width-100">
                        <mat-label>Ingrédient</mat-label>
                        <input type="text"
                               matInput
                               formControlName="name"
                               [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let ingredient of filteredIngredients[i] | async" [value]="ingredient">
                            {{ingredient}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>                
                <button mat-mini-fab color="accent" (click)="removeIngredientRecipe(i)" class="small-icon-button align-center">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
            </div>


            <button mat-mini-fab color="accent" (click)="addIngredientRecipe()">
                <mat-icon>
                    add
                </mat-icon>
            </button>
        </div>
    </div>


    <div class="flex-column width-80 align-center margin" formArrayName = "instructions">
        <h3>Liste des instructions</h3>

        <div *ngFor="let instruction of formArrayInstructions().controls; index as iInstr" [formGroupName] = "iInstr" class="justify-around width-100">
            <div class="text-bold">Etape {{ iInstr + 1 }}

            </div>

            <button mat-mini-fab color="accent" (click)="addIngredientInstruction(iInstr)"> <!-- Add Ingredient in instruction -->
                <mat-icon>
                    add
                </mat-icon> 
            </button>



            
            <div formArrayName = "ingredients"> 
            <div *ngFor="let ingredient of getIngredients(instruction).controls; let iIngr = index" [formGroupName]="iIngr" class="flex-row justify-around width-100 align-center">
                <mat-form-field appearance="outline" class="width-20"> <!-- Quantité-->
                    <mat-label>Quantité</mat-label>
                    <input matInput type="number"
                    formControlName="quantity">
                </mat-form-field>
                <mat-form-field appearance="outline" class="width-20"> <!-- Unité-->
                    <mat-label>Unité</mat-label>
                    <mat-select formControlName="unit" name="unit">
                        <mat-option *ngFor="let unit of unitsValue; index as j" [value]="unitsKey[j]">
                        {{ unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="flex-row justify-center width-40"> <!-- Ingrédient-->
                    <mat-form-field appearance="outline" class="width-100">
                        <mat-label>Ingrédient</mat-label>
                        <input type="text"
                                matInput
                                formControlName="name"
                                [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let ingredient of getIngredientsSelected()" [value]="ingredient">
                                {{ ingredient }}
                              </mat-option>
                        </mat-autocomplete>
                        </mat-form-field>
                </div> 
                <button mat-mini-fab color="accent" (click)="removeIngredientInstruction(iInstr,iIngr)" class="small-icon-button align-center">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>

            </div> 
            </div>

            <mat-form-field appearance="outline" class="width-100">
                <mat-label>A compléter</mat-label>
                <textarea matInput formControlName="instructionString"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="150"></textarea>
            </mat-form-field>
            




        </div>

        <button type="button" class="custom-button" (click)="addInstruction()"> <!-- Add Instruction -->
            Ajouter une instruction
        </button>


        <mat-form-field appearance="outline" class="width-100">
            <mat-label>L'astuce du chef:</mat-label>
            <textarea matInput formControlName="astuceChef"
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="150"></textarea>
        </mat-form-field>




        <h3>Multiple selection</h3>
        <p>
            <mat-form-field>
                <mat-select [formControl]="recipeMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="recipeMultiFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let bank of filteredRecipesMulti | async" [value]="bank">
                        {{bank}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <p>
            Selected Banks:
        </p>
        <ul *ngFor="let string of recipeMultiCtrl?.value">
            <li>{{string}}</li>
        </ul>


    </div>
    
    <button mat-raised-button (click)="saveRecipe()" [disabled]="!recipeForm.valid" class="margin">Sauvegarder</button> 


</div>



  


  