<div class="homepage-enceinte">
    <h1>Homepage – Enceinte</h1>

    <div class="buttons">
        <button routerLink="/en-forme-apres-bebe">
            En forme après bébé
        </button>

        <button routerLink="/enceinte-en-forme">
            Enceinte en forme
        </button>

        <!-- 3ᵉ bouton : tu pourras en ajouter un ici -->
        <!--
        <button routerLink="/nom-de-ta-troisieme-page">
          Nom de ta troisième page
        </button>
        -->
    </div>
</div>
