.percentage{
    position: relative;
    background: rgb(106, 20, 114); 
    padding: 6px 6px 6px;
    bottom: 1em;
    font-size: 80%;
    color:white;
  }

.bar{
  margin-top: 5%;
  margin-bottom: 5%;
}