<h1>{{recipe.name}}</h1>


<div class="slideshow-container">

    <div *ngFor="let image of imagelist"  class="mySlides fade">
        <div class="mySlides fade">
            <img [src]='image' style="width: 100%;" />
        
          </div>
        </div>


    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br />
  <div style="text-align: center;">
    <div *ngFor="let image of imagelist; let index=index;"  class="border width-50 flex-column">
        <span class="dot" onclick="currentSlide(index)"></span>
    </div>
  </div>









Difficulté : {{recipe.difficulty}}
Nombres de personnes : {{recipe.serves}}
Temps de préparation : {{recipe.timeRecipe.preparation}} min
Temps de cuisson : {{recipe.timeRecipe.cooking}} min
Temps Repos : {{recipe.timeRecipe.rest}} min

<ul>
    <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} : {{ ingredient.quantity }}{{ ingredient.unit }}
    </li>
    </ul>

<ul>
<li *ngFor="let instruction of recipe.instructions">
    {{ instruction }}
</li>
</ul>