.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 2%;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2%;
  font-size: 45px;
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.marge-top{
  margin-top: 5%;
}

.icon-display {
  transform: scale(0.6);
}

.marge-all{
  margin-top: 2%;
  margin-bottom: 2%;
}
.marge-around{
  
}

.image-container {
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Ajoute une transition fluide lors du survol */
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  z-index: 999; /* Assurez-vous que la fenêtre contextuelle est au-dessus de tout le reste */

}

.popup.visible {
  display: block; /* Lorsque la classe visible est appliquée, la fenêtre contextuelle est affichée */
}

.circular-image {
  border-radius: 50%; /* pour créer la forme circulaire */
  overflow: hidden; /* pour masquer la partie de l'image qui dépasse du cercle */
  margin-top: 5%;
}


.ingrRecipe{

  justify-content: center;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  margin-right: 4%;

}

.ingrMain{
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top:4%;
  margin-bottom: 4%;
}
