
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    display: block;
    height: 100%;
}

.mat-standard-chip {
    min-height: 25px;
}

/* Layout */

.flex-row {
    display: flex; 
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-end {
    align-self: flex-end;
}

.flex-grow-1 {
    flex-grow: 1;
}

.margin-auto {
    margin: auto;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 60%;
} 

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-33 {
    width: 33%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}

.height-100 {
    height: 100%;
}

.height-30 {
    height: 30%;
}
.height-40 {
    height: 40%;
}

.height-inherit {
    height: inherit;
}

.img-auto-size {
    max-width:100%;
    max-height:100%;
}

.border-box {
    box-sizing: border-box;
}

/* Thème */

.main-background-color {
    background-color: white;
}

.second-background-color {
    background-color: #e8e8e8;
}

.margin {
    margin: 1em;
}

.mat-form-field-wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
}

.text-center {
    text-align: center;
}

/* Margin */

.small-margin {
    margin: 0.5em;
}

.medium-margin {
    margin: 1.5em;
}

.large-margin {
    margin: 3em;
}

/* Padding */

.small-padding {
    margin: 0.5em;
}

.medium-padding {
    margin: 1.5em;
}

.large-padding {
    margin: 3em;
}

.large-input {
    font-size: 27px !important;
}

.large-input .mat-form-field-appearance-outline.mat-form-field-infix {
    padding: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
