.add-instruction-button {
  background-color: #F5E8D9 !important;
  color: #9b5c2c !important;
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.rounded-image {
  border-radius: 10px; /* Ajustez ce chiffre selon la courbure que vous souhaitez */
}

.image-container {
  position: relative;
  flex-wrap: wrap;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}