.rectangle {
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .rectangle a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
  }

  /* styles.css (ou votre fichier de styles spécifique) */
.custom-button {
  background-color: gray; /* Fond gris */
  border: 2px solid black; /* Bordure noire */
  color: white; /* Texte en blanc */
  padding: 10px 20px; /* Espacement intérieur */
  cursor: pointer; /* Curseur de type main */
  font-size: 16px; /* Taille de police */
  border-radius: 4px; /* Coins arrondis */
}

  